[Desktop Entry]
Name=EssoraKB
Name[ar]=EssoraKB
Name[ca]=EssoraKB
Name[de]=EssoraKB
Name[es]=EssoraKB
Name[fr]=EssoraKB
Name[hu]=EssoraKB
Name[it]=EssoraKB
Name[ja]=EssoraKB
Name[pt]=EssoraKB
Name[ru]=EssoraKB
Name[zh]=EssoraKB
GenericName=Kernel Builder
GenericName[ar]=مُجمِّع النواة
GenericName[ca]=Compilador de nucli
GenericName[de]=Kernel-Compiler
GenericName[es]=Compilador de Kernel
GenericName[fr]=Compilateur de noyau
GenericName[hu]=Kernel fordító
GenericName[it]=Compilatore del kernel
GenericName[ja]=カーネルビルダー
GenericName[pt]=Compilador de Kernel
GenericName[ru]=Компилятор ядра
GenericName[zh]=内核构建器
Comment=Build custom Linux kernels for Essora Linux
Comment[ar]=بناء نواة Linux مخصصة لـ Essora Linux
Comment[ca]=Compila nuclis Linux personalitzats per a Essora Linux
Comment[de]=Eigene Linux-Kernel für Essora Linux kompilieren
Comment[es]=Compila kernels Linux personalizados para Essora Linux
Comment[fr]=Compiler des noyaux Linux personnalisés pour Essora Linux
Comment[hu]=Egyéni Linux kernel fordítása az Essora Linuxhoz
Comment[it]=Compila kernel Linux personalizzati per Essora Linux
Comment[ja]=Essora Linux 用カスタム Linux カーネルをビルド
Comment[pt]=Compilar kernels Linux personalizados para Essora Linux
Comment[ru]=Сборка пользовательских ядер Linux для Essora Linux
Comment[zh]=为 Essora Linux 构建自定义 Linux 内核
Exec=/opt/EssoraKB/essorakb-gui.sh
Icon=/opt/EssoraKB/EssoraKB.png
Terminal=false
Type=Application
Categories=System;Development;Utility;Favorites;
Keywords=kernel;build;compile;essora;linux;deb;
Keywords[es]=kernel;compilar;construir;essora;linux;deb;
StartupNotify=false
